@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<p>
    order payment was successfully captured
</p>
<button id="vieworder" type="button" class="button-1 search-box-button">Go to order page</button>


<script type="text/javascript">


    $(document).ready(function () {
        $('#vieworder').on('click', function () {

            //set addrress to completed view of the checkout
            location.href = window.location.origin + "/checkout/completed";
        });
    });

</script>