@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<p>
    <h2>
        Payment has failed
    </h2>
        <h5 class="card-title">Order was placed but payment has not been captured successfully</h5>
        You may retry payment by clicking the button below to  view your order details. In payment section, click retry payment
</p>
<button id="vieworder"  class="btn accordion-button">Go to order page</button>


<script type="text/javascript">


    $(document).ready(function () {
        $('#vieworder').on('click', function () {

            //set addrress to completed view of the checkout
            location.href = window.location.origin+"/checkout/completed";
        });
    });

</script>
